h1 {
    font-size: bolder;
    text-align: center;
    margin-bottom: 50px;
}

.giausd {
    display: flex;
}
.giausd select {
    margin-left:  30px;
}
.giausd p {
    margin-left:  30px;
}
button {
    background-color: #007bff !important;
    border: 1px solid ;
    color: #fff !important;
    margin-bottom: 30px;
}